[Unit]
Description=Drinks Machine Embedded App
After=network.target

[Service]
User=pi
Type=simple
WorkingDirectory=/home/pi/semesterproject3/source/embedded
ExecStart=/home/pi/semesterproject3/source/embedded/main.py 
Restart=no
PrivateTmp=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target